<header class="py-3 bg-danger global-header">
  <div class="container">
    <div class="row">
      <div class="col-2 my-auto">
        <a class="navbar-brand d-inline-block" href="#">
          <img src="assets/images/logo--full.svg" alt="logo" height="90" width="195">
        </a>
      </div>

      <div class="col-10 my-auto">
        <nav class="navbar navbar-expand-lg">
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="mainmenu">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#">Articles</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white" href="#">Books</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white" href="#">Workshops</a>
              </li>

              <li class="nav-item">
                <a class="nav-link text-white" href="#">Conferences</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Membership</a>
              </li>
            </ul>
            <form class="d-flex mb-0" role="search">
              <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Search articles...">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<header class="py-3 bg-white shadow-sm subnav-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ul class="list-inline my-auto d-flex justify-content-center">
          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">Accessibility</a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">US </a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">CSS</a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">JavaScript </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">Performance</a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">Design</a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">Figma</a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">Wallpapers</a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">Vue</a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">Round-Ups</a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">Web Design</a>
          </li>

          <li class="list-inline-item">
            <a class="btn btn-light text-danger" href="#">Guides</a>
          </li>


        </ul>
      </div>
    </div>
  </div>
</header>