<footer class="bg-danger mt-5 py-4">
  <div class="container">
    <div class="col-12">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Accessibility</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Android</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Animation</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Apps</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">CSS</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Design</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Design Patterns</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Design Systems</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">E-Commerce</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Freebies</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Graphics</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">HTML</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Illustrator</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Inspiration</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">iOS</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">JavaScript</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Mobile</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Pattern Libraries</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Performance</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Photoshop</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Plugins</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">React</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Responsive Design</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Service Workers</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Sketch</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Typography</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">UI</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Usability</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">User Experience</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Wallpapers</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Web Design</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">WordPress</a></li>
        <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Workflow</a></li>
      </ul>
    </div>

    <div class="col-12">
      <div class="footer__notes text-center text-white">
        <p>With a commitment to quality content for the design community.</p>
        <p>Founded by Vitaly Friedman and Sven Lennartz. <span>2006–2023</span>.</p>
        <p>Smashing is proudly running on <a href="#" class="text-white ">Netlify</a>.
        </p>
        <p>Fonts by <a href="#" class="text-white">Latinotype</a>.</p>
      </div>
      <ul class="list-inline text-center">
        <li class="list-inline-item">✎ <a href="#" class="text-white ">Write for us</a></li>
        <li class="list-inline-item"><a href="#" class="text-white ">Contact us</a></li>
        <li class="list-inline-item"><a href="#" class="text-white ">About us (Impressum)</a></li>
        <li class="list-inline-item"><a href="#" class="text-white ">Privacy policy</a></li>
        <li class="list-inline-item"><a href="#" class="text-white ">Membership login</a></li>
        <li class="list-inline-item"><a href="#" class="text-white ">Delivery times</a></li>
        <li class="list-inline-item"><a href="#" class="text-white ">Advertise</a></li>
      </ul>
    </div>

    <div class="back-to-top-wrapper text-end" id="back_top">
      <a href="#top" data-scroll="#top" class="back-to-top" title="Back to top">
        <svg viewBox="0 0 100 100" width="25" height="25">
          <path d="M10 50l50 50L70 90 30 50 70 10 60 0z" transform="translate(0 0) rotate(90 50 50)" fill="#fff"
            stroke="#fff">
          </path>
        </svg></a>
    </div>
  </div>
</footer>