<div class="row">
  <div class="col-12">
    <div class="border-bottom border-5 mb-3">
      <small>More after jump! Continue reading below</small>
    </div>
    <div class="card progress-card bg-primary rounded-3 border-0 p-3">
      <ul class="list-inline">
        <li class="list-inline-item d-flex justify-content-between align-items-center more-button">
          <a href="#">
            <img src=" /assets/images/progress.svg" height="100" width="200">
          </a>
          <div class="d-grid">
            <p class="mb-0 text-white">A React Data Grid that makes a developer’s
            </p>
          </div>
          <div class="d-drid">
            <a href="#" class="btn btn-light newletter-botton w-100">Get a Data Grid!</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<br />